*{
  margin:0;
  padding: 0;
}
h1{
  font-size: 40px;
  text-decoration: overline;
  color: red;
  margin: 30px;
}
div{
  background-color: aqua;
  border: 10px solid tomato;
  border-radius: 10px;
  margin: 20px;
  
}
h2{
  font-size: 40px;
  text-decoration: overline;
  color: red;
  margin: 30px;
}
ul{
  color: blue;
  margin: 50px;
}
ol{
  color: blue;
  margin: 50px;
}