/**{
  margin:0;
  padding: 0;
}*/
h1{
  font-size: 40px;
  text-decoration: overline;
  color: red;
}
div{
  background-color: aqua;
  border: 20px solid tomato;
  border-radius: 10px;
  margin: 5px;
}
h2{
  font-size: 40px;
  text-decoration: overline;
  color: red;
}
ul{
  color: blue;
}
ol{
  color: blue;
}